@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

/* NAVBAR */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: all 0.4s ease;
  z-index: 9;
}
nav.sticky {
  padding: 10px 20px;
  background: #08080886;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
nav .nav-content {
  height: 100%;
  max-width: 1600px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-content .nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-content .nav-links li {
  list-style: none;
  margin: 0 8px;
}

.nav-links li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 4px;
  transition: all 0.3 ease;
}

.nav-links li a:hover {
  color: #ffffff;
}

.nav.sticky .nav-links li a {
  color: #fff;
  transition: all 0.4 ease;
}

.nav.sticky .nav-links li a:hover {
  color: #0e2431;
}

.home {
  height: 100vh;
  width: 100%;
  background-image: url("images/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* h2 {
  font-size: 30px;
  margin-bottom: 6px;
  color: #fecd03;
} */

.text {
  text-align: justify;
  padding: 40px 80px;
  box-sizing: -5px 0 10px rgba(0, 0, 0, 0.1);
  line-height: 27px;
}
.logo-tp {
  width: 55%;
}
.btn-konsultasi {
  background: #df2028;
  color: white;
  border: 1px solid transparent;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

/* FLOATING CTA */
.parent-cta {
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 6%;
  right: -6%;
  gap: 10px;
  z-index: 999;
}
.item-cta {
  width: 25%;
  cursor: pointer;
}
.item-cta-promo {
  width: 40%;
  cursor: pointer;
}

/* BOTTOM BAR */
.parent-bottombar {
  min-height: 100%;
  position: relative;
  padding-top: 24px;
  text-align: center;
  color: black;
  display: none;
}
.text-bottombar {
  color: black;
  font-weight: 600;
}

#bottom-bar {
  width: 100%;
  background-color: #ffffff;
  color: black;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  z-index: 9999;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  border-radius: 20px 20px 0 0;
}

.bottom-bar-element {
  width: 25%;
  display: inline-block;
  float: left;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 16px;
  color: white;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.icon-bottombar {
  width: 27%;
}

.dropdown-bottombar {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropbtn-bottom {
  font-size: 16px;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* RESPONSIVE */
@media screen and (max-width: 500px) {
  .parent-bottombar {
    display: flex;
  }
  .text-bottombar {
    font-size: 13px;
  }
  .icon-home-bottombar {
    width: 20%;
  }
  .icon-home-bottombar-about {
    width: 27%;
  }
}

/* HERO */
.bg-hero {
  height: auto;
  width: 100%;
  background-image: url("assets/bg_hero.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.text-image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
  gap: 15px;
}
.title-tp {
  font-size: 50px;
  color: white;
  line-height: 60px;
}
.deskripsi-tp {
  color: white;
  font-size: 20px;
  margin-top: 20px;
  text-align: justify;
}
.model-tp {
  bottom: 0;
}

/* COUNTDOWN */
:root {
  --smaller: 0.75;
}
.container-countdown {
  color: #ffffff;
  margin: 0 auto;
  text-align: left;
  margin-top: 20px;
}
.btn-klaim-promo {
  background: #df2028;
  color: white;
  border: 1px solid transparent;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
}

.list-countdown {
  display: inline-block;
  font-size: 25px;
  list-style-type: none;
  padding: 15px;
  text-align: center;
}

.list-countdown span {
  display: block;
  font-size: 25px;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}

@media all and (max-width: 768px) {
  h1 {
    font-size: calc(1.5rem * var(--smaller));
  }

  .list-countdown {
    font-size: calc(1.125rem * var(--smaller));
  }

  .list-countdown span {
    font-size: calc(3.375rem * var(--smaller));
  }
}

/* ABOUT TARUNA PERSADA */
.bg-about-tp {
  height: auto;
  width: 100%;
  background-image: url("assets/bg_about_tp.png");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}
.text-image-about-tp {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  gap: 60px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.title-about-tp {
  font-size: 50px;
  color: white;
  line-height: 60px;
  width: 70%;
}
.deskripsi-about-tp {
  color: white;
  font-size: 20px;
  /* margin-top: 20px; */
  text-align: justify;
}
.img-about-tp {
  width: 50%;
}

/* COUNTER */
.parent-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 100px;
  margin-top: 20px;
}
.counter {
  display: grid;
  text-align: center;
}
.number-counter {
  font-size: 40px;
  color: rgb(192, 123, 19);
}
.text-counter {
  font-weight: 600;
  font-size: 18px;
  margin-top: -5px;
}

/* NEW */
/* VENUE */
.bg-venue {
  height: auto;
  width: 100%;
  background-image: url("assets/bg_about_tp.png");
  background-size: cover;
  background-position: center;
  /* background-attachment: fixed; */
}
.text-image-venue {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding-left: 10%;
  padding-right: 10%;
  gap: 60px;
  padding-top: 80px;
  padding-bottom: 50px;
  flex-direction: row-reverse;
}
.title-venue {
  font-size: 50px;
  color: white;
  line-height: 60px;
  width: 70%;
}
.deskripsi-venue {
  color: white;
  font-size: 20px;
  /* margin-top: 20px; */
  text-align: justify;
}
.img-venue {
  width: 50%;
}

/* NEW */
/* KELAS */
.title-kelas-tni-polri {
  color: white;
  font-size: 40px;
  border-left: 15px solid #df2028;
  width: 20%;
  line-height: 45px;
}
.text-kelas-tni-polri {
  color: rgb(192, 123, 19);
}
.parent-kelas {
  display: grid;
  background: #000000;
  padding-left: 10%;
  padding-right: 10%;
  margin-top: 5%;
}
.box-kelas {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #701014;
  padding: 50px;
  gap: 25px;
  border-radius: 5px;
  margin-top: 20px;
}
.item-kelas {
  width: 100%;
}

/* SLIDER KELAS */
.home-demo .item {
  background: #ff3f4d;
}
.box-kelas-kedinasan {
  padding-left: 5%;
  padding-right: 5%;
  margin-top: 40px;
}
.home-demo h2 {
  color: #fff;
  text-align: center;
  /* padding: 5rem 0; */
  margin: 0;
  font-style: italic;
  font-weight: 300;
}
.img-kedinasan {
  width: 100%;
}

/* BEST PROGRAM */
.parent-best-program {
  background-color: #000000;
  padding-top: 100px;
  padding-left: 10%;
  padding-right: 10%;
}
.box-best-program {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #701014;
  width: 100%;
  height: auto;
  gap: 15px;
  border-radius: 5px;
}
.parent-child-program {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.model-best-program {
  width: 18%;
}
.child-program {
  width: 23%;
  border-radius: 8px;
  margin-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.text-best-program {
  color: white;
  font-size: 40px;
  margin-left: 10px;
}

/* DIVINDER */
.divinder-about-tp {
  width: 50%;
}
.parent-divinder {
  text-align: center;
  background: #000000;
  padding-top: 40px;
}

/* MASTER TEACHER */
/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.slide-container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-content {
  margin: 0 40px;
  overflow: hidden;
  /* border-radius: 25px; */
}
.card {
  border-radius: 10px;
  background-color: #fff;
}
.image-content,
.card-content {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  padding: 10px 14px;
  gap: 5px;
}
.image-content {
  position: relative;
  row-gap: 0;
  padding: 0 0;
}
.overlay {
  /* position: absolute; */
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  /* background-color: #4070F4; */
  border-radius: 25px 25px 0 0px;
}
.overlay::before,
.overlay::after {
  /* content: ''; */
  position: absolute;
  right: 0;
  bottom: -40px;
  height: 40px;
  width: 40px;
  background-color: #701014;
}
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #fff;
}
.card-image {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}
.card-image .card-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #701014;
}
.name {
  font-size: 18px;
  font-weight: 600;
  color: #333;
}
.description {
  font-size: 16px;
  color: #707070;
  /* text-align: center; */
}
.button {
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #701014;
  border-radius: 6px;
  /* margin: 14px; */
  cursor: pointer;
  transition: all 0.3s ease;
}
.button:hover {
  background: #701014;
}

.swiper-navBtn {
  color: #701014;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover {
  color: #701014;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 35px;
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-pagination-bullet {
  background-color: #df2028;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: #701014;
}
.title-mt {
  color: white;
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  margin-top: 60px;
}
.parent-card-mt {
  display: flex;
  align-items: center;
  gap: 10px;
}
.img-mt {
  width: 15%;
  border-radius: 100%;
}
.bg-mt {
  border-radius: 10px 10px 0 0;
}

@media screen and (max-width: 768px) {
  .slide-content {
    margin: 0 10px;
  }
  .swiper-navBtn {
    display: none;
  }
}

/* TIMELINE MATERI */
.parent-materi {
  background: #000000;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
}
.title-materi {
  border-left: 15px solid #df2028;
}
.img-materi {
  width: 100%;
  margin-top: 20px;
}
/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  margin-top: 10px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  /* content: ""; */
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #df202938;
  border: 4px solid #df2028;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #df202938;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #df202938;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #df202938;
  border-width: 10px 10px 10px 0;
  border-color: transparent #df202938 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #df202938;
  position: relative;
  border-radius: 6px;
  color: #df2028;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width containers */
  .container {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border-width: 10px 10px 10px 0;
    border-color: transparent #df202900 transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
    display: none;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/* GALERI KEGIATAN */
.child-galeri {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  gap: 10px;
  flex-wrap: wrap;
}
.item-binsik {
  width: 25%;
}
.parent-galeri-kegiatan {
  background: #000000;
  color: white;
  padding-top: 80px;
  padding-left: 10%;
  padding-right: 10%;
}
.title-galeri-kegiatan {
  border-left: 15px solid #df2028;
  margin-top: 0px;
}
:root {
  --bg-clr: #000000;
}
body {
  /* min-height: 100svh;
  display: grid;
  place-content: center; */
  background-color: var(--bg-clr);
}

.carousel-wrapper {
  --width: 10%;
  --gap: 0;
  --num-items: 10;
  --ani-offset: calc(var(--width) * var(--num-items) * -1);
  --ani-speed: 10s;

  /* width: 100%; */
  overflow: hidden;
  position: relative;
  background: #000000;
  padding-left: 10%;
  margin-top: 30px;
}
.carousel-wrapper::before,
.carousel-wrapper::after {
  content: "";
  position: absolute;
  width: 20%;
  height: 100%;
  z-index: 1;
  top: 0;
}
.carousel-wrapper::before {
  left: 0;
  background-image: linear-gradient(
    to right,
    var(--bg-clr) 0%,
    transparent 50%
  );
}
.carousel-wrapper::after {
  right: 0;
  background-image: linear-gradient(to left, var(--bg-clr) 0%, transparent 50%);
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slide var(--ani-speed) linear infinite;
  gap: 180px;
}
.item {
  flex: 1 0 var(--width);
  text-align: center;
  /* padding:1rem; */
}
.item:last-child {
  /*background: red;*/
}
.item > .img-binsik {
  width: 200%;
  /* height: auto;
  object-fit: cover; */
}

@keyframes slide {
  100% {
    transform: translateX(var(--ani-offset));
  }
}

/* NEW */
/* VIDEO YT */
.container-yt {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  gap: 10px;
  margin-top: 10px;
}
.item-yt {
  aspect-ratio: 16 / 9;
  width: 100% !important;
}

/* NEW */
/* REKOMENDASI PROGRAM */
.parent-rekomendasi-program {
  padding-left: 10%;
  padding-right: 10%;
}
.title-rekomendasi-program {
  border-left: 15px solid #df2028;
  color: white;
}
.parent-2-program {
  display: flex;
  justify-content: center;
  gap: 30px;
  color: white;
  margin-top: 20px;
  transition: 0.5s;
}
.parent-2-program:hover {
  gap: 50px;
  margin-top: 60px;
  transition: 0.5s;
}
.item-rekomendasi-program {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  gap: 10px;
}
.program-rekomendasi-komando {
  display: grid;
  background: #7010137c;
  padding: 50px;
  gap: 10px;
  border-radius: 5px;
  transition: 0.5s;
}
.program-rekomendasi-komando:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.program-rekomendasi-presisi {
  display: grid;
  background: #047a857e;
  padding: 50px;
  gap: 10px;
  border-radius: 5px;
  transition: 0.5s;
}
.program-rekomendasi-presisi:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.title-rekomendasi-program-komando {
  color: #f8a812;
  text-align: center;
  line-height: 50px;
}
.text-rekomendasi {
  text-align: center;
  font-size: 60px;
  font-weight: 800;
  color: white;
}
.harga-program-komando {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: #df2028;
  border: 1px solid transparent;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #f8a812;
  border-radius: 5px;
}
.harga-program-presisi {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: #047a85;
  border: 1px solid transparent;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 50px;
  color: #f8a812;
  border-radius: 5px;
}
.btn-daftar-sekarang-komando {
  background: #df2028;
  border: 1px solid transparent;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}
.btn-daftar-sekarang-presisi {
  background: #047a85;
  border: 1px solid transparent;
  padding: 5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 30px;
  color: white;
  border-radius: 5px;
  margin-top: 20px;
  width: 100%;
  cursor: pointer;
}
.text-juta {
  font-size: 25px;
}

/* NEW */
/* KOTA */
.parent-kota {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 20px;
}
.title-kota {
  color: white;
  border-left: 15px solid #df2028;
}
.img-kota {
  width: 100%;
}
.parent-nama-kota {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  color: white;
  margin-top: 60px;
  flex-wrap: wrap;
  gap: 20px;
}
.item-kota {
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  border: 3px solid #df2028;
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
  width: 15%;
  text-align: center;
}
.item-kota:hover {
  background: #701014;
  transition: all 0.2s;
}

/* NEW (tambah gap) */
/* PROMO SGS */
.parent-promo-sgs {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
  padding-top: 80px;
  padding-left: 10%;
  padding-right: 10%;
  gap: 20px;
}
.img-promo-sgs {
  width: 50%;
  border-radius: 10px;
}

/* TESTIMONI */
.parent-testimoni-siswa {
  background: #000000;
  color: white;
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}
.title-testimoni {
  border-left: 15px solid #df2028;
}
.main-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 100vh; */
  padding-bottom: 64px;
  padding-left: 10%;
  padding-right: 10%;
}
.nama-siswa {
  font-size: 20px;
  /* margin-top: 10px; */
  color: black;
}
.deskripsi-siswa {
  /* margin-top: 10px; */
  color: black;
}
.carousel-arrow {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  top: 0;
  bottom: 64px;
  margin-block: auto;
  height: fit-content;
  width: 50px;
  background-color: white;
  border: none;
  font-size: 2rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
  border-radius: 10px;
}

.carousel-arrow:hover,
.carousel-arrow:focus {
  opacity: 1;
}

.carousel-arrow--prev {
  left: 0;
}

.carousel-arrow--next {
  right: 0;
}

.carousel-container {
  width: 100%;
  min-height: 50vh;
  padding-block: 16px 32px;
  margin: 16px 48px;
  overflow-x: auto;
  display: flex;
  width: 100%;
  gap: 30px;
  /* align-items: center; */
  scroll-snap-type: x mandatory;
  flex-flow: row nowrap;
  scroll-behavior: smooth;
}

.carousel-container::-webkit-scrollbar {
  height: 14px;
  width: calc(100% - 48px);
}

.carousel-container::-webkit-scrollbar-track {
  background: white;
  border-radius: 50px;
  cursor: pointer;
}

.carousel-container::-webkit-scrollbar-thumb {
  background: #df2028;
  border-radius: 50px;
  cursor: pointer;
}

.carousel-container::-webkit-scrollbar-track-piece:start {
  background: #df2028;
  border-radius: 50px;
  cursor: pointer;
}
.img-siswa {
  width: 50%;
  border-radius: 100%;
  /* margin-top: -40%; */
  border: 2px solid white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.five-star {
  width: 50%;
  /* margin-top: 10px; */
}
.carousel-slide {
  flex: 1 0 20%;
  aspect-ratio: 1;
  flex-flow: wrap;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
  scroll-snap-align: center;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  border-left: 5px solid #f8a812;
  border-bottom: 5px solid #f8a812;
}

@media (max-width: 600px) {
  .carousel-slide {
    flex: 1 0 90%;
  }
}

/* LIPUTAN MEDIA MASA */
.parent-media-masa {
  background: #000000;
  color: white;
  padding-top: 80px;
  padding-left: 10%;
  padding-right: 10%;
}
.title-faq {
  border-left: 15px solid #df2028;
}
.parent-img-media-masa {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-left: 10%;
  padding-right: 10%;
  flex-wrap: wrap;
}
.img-media-masa {
  width: 20%;
  border-radius: 5px;
}

/* FAQ */
.parent-faq {
  background: #000000;
  color: white;
  padding-top: 80px;
  padding-left: 10%;
  padding-right: 10%;
}
.title-faq {
  border-left: 15px solid #df2028;
}
:root {
  --border-color: #000000;
  --background-color: #df2028;
  --transition: all 0.2s ease;
}

main {
  display: flex;
  align-items: center;
  justify-content: left;
  background: #000000;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* max-width: 500px; */
  color: white;
  margin-top: 20px;
}

.accordion .accordion-item {
  background-color: var(--background-color);
  border-radius: 5px;
}

.accordion .accordion-item .accordion-item-description-wrapper hr {
  border: none;
  border-top: 1px solid var(--border-color);
  visibility: visible;
}

.accordion .accordion-item.open .accordion-item-description-wrapper hr {
  visibility: visible;
}

.accordion .accordion-item .accordion-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
}

.accordion .accordion-item .accordion-item-header .accordion-item-header-title {
  font-weight: 600;
}

.accordion .accordion-item .accordion-item-header .accordion-item-header-icon {
  transition: var(--transition);
}

.accordion
  .accordion-item.open
  .accordion-item-header
  .accordion-item-header-icon {
  transform: rotate(-180deg);
}

.accordion .accordion-item .accordion-item-description-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  overflow: hidden;
  transition: var(--transition);
}

.accordion .accordion-item.open .accordion-item-description-wrapper {
  grid-template-rows: 1fr;
}

.accordion
  .accordion-item
  .accordion-item-description-wrapper
  .accordion-item-description {
  min-height: 0;
}

.accordion
  .accordion-item
  .accordion-item-description-wrapper
  .accordion-item-description
  p {
  padding: 10px;
  line-height: 1.5;
}

/* FOOTER */
.parent-media-partner {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 10px;
}
.img-media-partner {
  width: 48%;
  border-radius: 3px;
}
.pg-footer {
  font-family: "Roboto", sans-serif;
}

.footer {
  background-color: #000000;
  color: #fff;
}
.footer-wave-svg {
  background-color: transparent;
  display: block;
  height: 30px;
  position: relative;
  top: -1px;
  width: 100%;
}
.footer-wave-path {
  fill: #000000;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1230px;
  padding: 40px 15px 450px;
  position: relative;
}

.footer-content-column {
  box-sizing: border-box;
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  color: #fff;
}

.footer-content-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-logo-link {
  display: inline-block;
}
.footer-menu {
  margin-top: 30px;
}

.footer-menu-name {
  color: #fffff2;
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-menu-list {
  list-style: none;
  margin-bottom: 0;
  margin-top: 10px;
  padding-left: 0;
}
.footer-menu-list li {
  margin-top: 5px;
}

.footer-call-to-action-description {
  color: #fffff2;
  margin-top: 10px;
  margin-bottom: 20px;
}
.button:last-of-type {
  margin-right: 0;
}
.footer-call-to-action-button {
  background-color: #141414;
  border-radius: 21px;
  color: #fffff2;
  display: inline-block;
  font-size: 11px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  padding: 12px 30px;
  margin: 0 10px 10px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.2s;
  cursor: pointer;
  position: relative;
}
.footer-call-to-action {
  margin-top: 30px;
}
.footer-call-to-action-title {
  color: #fffff2;
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
}
.footer-call-to-action-link-wrapper {
  margin-bottom: 0;
  margin-top: 10px;
  color: #fff;
  text-decoration: none;
}
.footer-call-to-action-link-wrapper a {
  color: #fff;
  text-decoration: none;
}

.footer-social-links {
  bottom: 0;
  height: 54px;
  position: absolute;
  right: 0;
  width: 236px;
}

.footer-social-amoeba-svg {
  height: 54px;
  left: 0;
  display: block;
  position: absolute;
  top: 0;
  width: 236px;
}

.footer-social-amoeba-path {
  fill: #000000;
}

.footer-social-link.linkedin {
  height: 26px;
  left: 3px;
  top: 11px;
  width: 26px;
}

.footer-social-link {
  display: block;
  padding: 10px;
  position: absolute;
}

.hidden-link-text {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
  padding: 0;
  border: 0;
  top: 50%;
}

.footer-social-icon-svg {
  display: block;
}

.footer-social-icon-path {
  fill: #fffff2;
  transition: fill 0.2s;
}

.footer-social-link.twitter {
  height: 28px;
  left: 62px;
  top: 3px;
  width: 28px;
}

.footer-social-link.youtube {
  height: 24px;
  left: 123px;
  top: 12px;
  width: 24px;
}

.footer-social-link.github {
  height: 34px;
  left: 172px;
  top: 7px;
  width: 34px;
}

.footer-copyright {
  background-color: #000000;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
}

.footer-copyright-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.footer-copyright-text {
  color: #fff;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  margin-bottom: 0;
  margin-top: 0;
}

.footer-copyright-link {
  color: #fff;
  text-decoration: none;
}
.logo-footer-tp {
  width: 100%;
}
.all-sosmed {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Media Query For different screens */
@media (min-width: 320px) and (max-width: 479px) {
  /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 480px) and (max-width: 599px) {
  /* smartphones, Android phones, landscape iPhone */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 600px) and (max-width: 800px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .footer-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1230px;
    padding: 40px 15px 1050px;
    position: relative;
  }
}
@media (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}

@media (min-width: 760px) {
  .footer-content {
    /* margin-left: 10%;
    margin-right: 10%; */
    max-width: 1230px;
    padding: 40px 15px 450px;
    position: relative;
  }

  .footer-wave-svg {
    height: 50px;
  }

  .footer-content-column {
    width: 24.99%;
  }
}
@media (min-width: 568px) {
  /* .footer-content-column {
      width: 49.99%;
  } */
}

/* LINK WEB */
.link-web {
  text-decoration: none;
}

/* RESPONSIVE */
/* PHONE */
@media only screen and (min-width: 320px) and (max-width: 896px) {
  /* NEW */
/* VIDEO YT */
.container-yt {
  display: grid;
  justify-content: normal;
  padding-left: 3%;
  padding-right: 3%;
}
.item-yt {
  aspect-ratio: 16 / 9;
  width: 100%;
}
  /* NEW */
  /* REKOMENDASI PROGRAM */
  .parent-2-program {
    display: grid;
  }
  .parent-rekomendasi-program {
    padding-left: 3%;
    padding-right: 3%;
  }
  .program-rekomendasi-komando,
  .program-rekomendasi-presisi {
    padding: 20px;
  }
  .title-rekomendasi-program {
    font-size: 23px;
    border-left: 10px solid #df2028;
  }
  .title-rekomendasi-program-komando {
    font-size: 30px;
    line-height: 40px;
  }
  .text-rekomendasi {
    font-size: 50px;
  }
  .harga-program-komando,
  .harga-program-presisi {
    font-size: 35px;
  }
  .btn-daftar-sekarang-komando,
  .btn-daftar-sekarang-presisi {
    font-size: 20px;
  }
  /* NEW */
  /* VENUE */
  .text-image-venue {
    display: grid;
    place-items: center;
    padding-left: 3%;
    padding-right: 3%;
    gap: 30px;
  }
  .deskripsi-venue {
    font-size: 17px;
  }
  .title-venue {
    font-size: 33px;
    line-height: 35px;
    width: 100%;
    text-align: center;
  }
  .parent-divinder-venue {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .img-venue {
    width: 100%;
  }

  /* NEW */
  /* KOTA */
  .parent-kota {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 20px;
  }
  .title-kota {
    font-size: 23px;
    border-left: 10px solid #df2028;
  }
  .parent-nama-kota {
    gap: 10px;
    margin-top: 20px;
    justify-content: space-between;
  }
  .item-kota {
    width: 20%;
    font-size: 12px;
    font-weight: 500;
  }
  .child-galeri {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 5%;
  }
  .item-binsik {
    width: 100%;
  }
  .text-best-program {
    margin-left: 0;
    font-size: 30px;
    margin-top: 20px;
  }
  .text-image {
    display: grid;
    padding-left: 3%;
    padding-right: 3%;
  }
  .model-tp {
    width: 100%;
  }
  .title-tp {
    font-size: 38px;
    margin-top: 30px;
    line-height: 45px;
  }
  .deskripsi-tp {
    font-size: 17px;
  }
  .text-image-about-tp {
    display: grid;
    gap: 30px;
    padding-left: 3%;
    padding-right: 3%;
  }
  .title-about-tp {
    text-align: center;
  }
  .parent-divinder-about-tp {
    display: flex;
    justify-content: center;
  }
  .img-about-tp {
    width: 100%;
  }
  .divinder-page {
    width: 100%;
  }
  .deskripsi-about-tp {
    font-size: 17px;
  }
  .parent-counter {
    gap: 25px;
    margin-top: 5px;
    padding-bottom: 30px;
  }
  .title-about-tp {
    font-size: 33px;
    line-height: 35px;
    width: 100%;
  }
  .parent-text-about-tp {
    padding-left: 0;
    padding-right: 0;
  }
  .divinder-about-tp {
    width: 80%;
  }
  .parent-best-program {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 60px;
  }
  .model-best-program {
    display: none;
  }
  .child-program {
    width: 100%;
    margin-left: 0;
  }
  .text-and-program {
    display: grid;
    place-items: center;
    gap: 20px;
  }
  .box-best-program {
    padding-bottom: 40px;
  }
  .parent-materi {
    padding-left: 3%;
    padding-right: 3%;
  }
  .title-materi {
    font-size: 25px;
    margin-top: 50px;
    border-left: 10px solid #df2028;
  }
  .parent-faq {
    padding-left: 3%;
    padding-right: 3%;
  }
  .parent-kelas {
    padding-left: 3%;
    padding-right: 3%;
  }
  .box-kelas {
    display: block;
    flex-wrap: wrap;
    padding: 5px;
    gap: 3px;
  }
  .item-kelas {
    width: 49%;
  }
  .title-kelas-tni-polri {
    font-size: 25px;
    line-height: 27px;
    border-left: 10px solid #df2028;
  }
  .title-faq {
    font-size: 23px;
  }
  .title-testimoni {
    font-size: 23px;
    margin-top: 80px;
    border-left: 10px solid #df2028;
  }
  .card-content {
    overflow: visible;
  }
  .main-carousel {
    padding-left: 0;
    padding-right: 0;
  }
  .carousel-container {
    margin: 16px 5px;
  }
  nav {
    display: none;
  }
  .text-image {
    padding-top: 0;
  }
  .parent-testimoni-siswa {
    padding-left: 3%;
    padding: 3%;
  }
  .parent-promo-sgs {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .img-promo-sgs {
    border-radius: 5px;
  }
  /* LIPUTAN MEDIA MASA */
  .parent-media-masa {
    padding-top: 0;
    padding-left: 3%;
    padding-right: 3%;
  }
  .title-faq {
    border-left: 10px solid #df2028;
  }
  .parent-img-media-masa {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
    margin-top: 10px;
  }
  .img-media-masa {
    width: 45%;
  }
  /* MARQUEE */
  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slide var(--ani-speed) linear infinite;
    gap: 155px;
  }
  .item > .img-binsik {
    width: 500%;
  }
  .parent-galeri-kegiatan {
    padding-left: 3%;
    padding-right: 3%;
  }
  .title-galeri-kegiatan {
    margin-top: 0;
    font-size: 23px;
    border-left: 10px solid #df2028;
  }
  /* NEW */
  /* FLOATING CTA */
  .parent-cta {
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 13%;
    right: -48%;
    gap: 0;
    z-index: 999;
  }
  .item-cta {
    width: 20%;
    cursor: pointer;
  }
  .item-cta-promo {
    width: 30%;
    cursor: pointer;
  }
  .parent-promo-sgs {
    display: grid;
    gap: 5px;
  }
  .img-promo-sgs {
    width: 100%;
  }
}

/* TABLET */
@media only screen and (min-width: 768px) and (max-width: 1366px) {
  /* NEW */
  /* REKOMENDASI PROGRAM */
  .parent-2-program {
    display: grid;
  }
  .parent-rekomendasi-program {
    padding-left: 3%;
    padding-right: 3%;
  }
  /* NEW */
  /* KOTA */
  .parent-kota {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 20px;
  }
  .child-galeri {
    padding-left: 1%;
    padding-right: 1%;
    padding-top: 5%;
  }
  .item-binsik {
    width: 30%;
  }
  .parent-kelas {
    padding-left: 3%;
    padding-right: 3%;
  }
  .box-kelas {
    padding: 10px;
    gap: 8px;
  }
  .text-best-program {
    margin-left: 10px;
  }
  .carousel-slide {
    flex: 1 0 40%;
  }
  nav {
    display: flex;
  }
  .text-image {
    display: grid;
    padding-top: 150px;
  }
  .text-image-about-tp {
    display: grid;
    padding-left: 3%;
    padding-right: 3%;
  }
  .img-about-tp {
    width: 100%;
  }
  .text-image-venue {
    display: grid;
    padding-left: 3%;
    padding-right: 3%;
  }
  .img-venue {
    width: 100%;
  }

  .parent-best-program,
  .parent-materi,
  .parent-promo-sgs,
  .parent-testimoni-siswa,
  .main-carousel,
  .parent-faq {
    padding-left: 3%;
    padding-right: 3%;
  }
  .nav-content .nav-links li {
    margin: 0;
  }
  nav .nav-content {
    margin: 0;
  }
  .nav-content .nav-links {
    gap: 8px;
  }
  /* NEW */
  /* FLOATING CTA */
  .parent-cta {
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 3%;
    right: -15%;
    gap: 0;
    z-index: 999;
  }
  .item-cta {
    width: 25%;
    cursor: pointer;
  }
  .item-cta-promo {
    width: 35%;
    cursor: pointer;
  }
}

/* DESKTOP */
@media only screen and (min-width: 903px) and (max-width: 1537px) {
  /* NEW */
  /* REKOMENDASI PROGRAM */
  .parent-rekomendasi-program {
    padding-left: 3%;
    padding-right: 3%;
  }

  /* NEW */
  /* VENUE */
  .text-image-venue {
    padding-left: 3%;
    padding-right: 3%;
  }

  /* NEW */
  /* KOTA */
  .parent-kota {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 20px;
  }
  .parent-kelas {
    padding-left: 3%;
    padding-right: 3%;
  }
  .model-tp {
    width: 60%;
  }
  .text-image,
  .parent-best-program,
  .text-image-about-tp,
  .parent-materi,
  .parent-galeri-kegiatan,
  .parent-promo-sgs,
  .parent-testimoni-siswa,
  .main-carousel,
  .parent-media-masa,
  .parent-img-media-masa,
  .parent-faq {
    padding-left: 3%;
    padding-right: 3%;
  }
  nav .nav-content {
    justify-content: space-around;
  }
  .divinder-page {
    width: 80%;
  }
}
